solution/.vs
solution/GraphicalDebugging/GraphicalDebugging.csproj.user
solution/GraphicalDebugging/bin
solution/GraphicalDebugging/obj
solution/packages
solution/*.sdf
solution/*.db
solution/*.opendb